---
layout: default
body_classes: page-project
---

{% assign limit = page.gallery_limit | default: 6 %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="project-description">
        <a href="/{{ site.baseurl }}" style="text-decoration: none;">
          <h1>
            .. </h1>
        </a>
      </div>

      <div class="col-12 col-md-6 mb-4">

        {% if page.title %}
        <div class="project-heading">
          <h1>{{ page.title }}</h1>
        </div>
        {% endif %}


        {% if page.description %}
        <div class="project-description">
          <div class="content">{{ page.description }}</div>
        </div>
        {% endif %}

        <div class="gallery gallery-masonry">
          {% for item in page.gallery limit: limit %}
          <div class="gallery-item">
            <div class="gallery-image"><img src="{{ item.image | relative_url }}" /></div>
            {% if item.caption %}
            <div class="gallery-caption">{{ item.caption }}</div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-12 col-md-6 mb-4">
        <div class="content">{{ content }}</div>
      </div>

    </div>
  </div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script>
  var grid = document.querySelector('.gallery');
  var msnry;

  imagesLoaded(grid, function () {
    msnry = new Masonry(grid, {
      itemSelector: '.gallery-item',
      percentPosition: true,
    });
  });
</script>